<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gdmexico" translate="label" sortOrder="900">
            <label>GDMexico</label>
        </tab>

        <section id="gdmexico_amasty_feed_cron"
                 translate="label"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="0"
                 showInStore="0">
            <label>Amasty Feed Cron</label>
            <tab>gdmexico</tab>
            <resource>GDMexico_AmastyFeedCron::config</resource>

            <group id="general"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Configuración General</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="5"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Habilitado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>GDMexico\AmastyFeedCron\Model\Config\Backend\CronConfig</backend_model>
                </field>

                <field id="schedule"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Cron Schedule</label>
                    <backend_model>GDMexico\AmastyFeedCron\Model\Config\Backend\CronConfig</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Ejemplo: 0 3 * * * = diario a las 03:00. Domingo 2 AM: 0 2 * * 0.</comment>
                </field>

                <field id="active_schedule"
                       type="hidden"
                       sortOrder="99"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Active Schedule</label>
                </field>
            </group>
        </section>
    </system>
</config>